<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edytuj Film</title>
</head>
<body>
    <h1>Edytuj Film</h1>
    <form action="" method="post">
        <label for="title">Tytuł:</label>
        <input type="text" id="title" name="title" value="{{ movie.title }}" required>
        <br>
        <label for="description">Opis:</label>
        <textarea id="description" name="description" required>{{ movie.description }}</textarea>
        <br>
        <label for="time">Godzina:</label>
        <input type="text" id="time" name="time" value="{{ movie.time }}" required>
        <br>
        <button type="submit">Zapisz</button>
    </form>
    <a href="/movies">Powrót</a>
</body>
</html>
